body {
    background-color: rgb(20, 26, 29);
    font-family: "Open Sans", sans-serif;
    line-height: 1.65;
    font-size: 1.2rem;
}

.logo img {
    width: 200px;
}

header {
    width: 100%;
    display: flex;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: rgba(21, 27, 30, 0.3);
    transition: 0.5s;
}

.navigazione {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 15px 0px;
}

.navigazione div {
    display: inline;
    padding: 0px 100px;
}

.navigazione a:link,
.navigazione a:visited {
    text-decoration: none;
    color: rgb(133, 130, 130);
    transition-duration: 0.3s;
}

.navigazione a:hover {
    color: white;
}


#articoloPrimo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#video {
    width: 100%;
    height: 800px;
}

#video video {
    width: 100%;
    height: 800px;
    object-fit: cover;
    filter: brightness(50%);
}

.contenuto {
    position: absolute;
    top: 200px;
    width: 1500px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

.contenuto svg {
    fill: rgba(255, 255, 255, 0.6);
    width: 120px;
}

h1,
h2,
.contenuto p {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    font-size: 4.8em;
    font-weight: 900;
    letter-spacing: 10px;
}


.spin {
    animation: spin 10s linear infinite, opacity 6s linear
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(1turn);
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animated {
    animation: opacity 6s linear;
}


.contenuto p {
    font-style: italic;
    font-size: 1.6em;
    font-weight: 600;
    letter-spacing: 4px;
}


#schede {
    position: absolute;
    top: 600px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.6);
}

.scheda1 {
    margin: 40px;
    font-size: 1em !important;
}

/* TIME COMPARSA SCHEDE SERVIZI */

@keyframes opacity2 {
    from {
        opacity: 0;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.schedaServ1 {
    animation: opacity2 2s linear;
}

.schedaServ2 {
    animation: opacity2 2.5s linear;
}

.schedaServ3 {
    animation: opacity2 3s linear;
}

.schedaServ4 {
    animation: opacity2 3.5s linear;
}

.schedaServ5 {
    animation: opacity2 4s linear;
}

.schedaServ6 {
    animation: opacity2 4.5s linear;
}


/* TIME COMPARSA SCHEDE SERVIZI */

.scheda1 p {
    font-weight: bolder;
    padding-top: 25px;
}

#schede svg {
    fill: rgba(255, 255, 255, 0.6);
    width: 40px;
    transition-duration: 0.3s;
    cursor: pointer;
}

#schede svg:hover {
    scale: 1.5;
    fill: rgb(255, 255, 255);
}

#schede .click svg {
    scale: 1.5;
    fill: #ffd700;
}

#sectionDue {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px 0px;
}

.image {
    width: 600px;
    height: 400px;

}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.contenuto2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 400px;
    margin-left: 100px;
}

.contenuto2 p {
    font-style: italic;
    text-align: left;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 4px;
    color: rgba(255, 255, 255, 0.6);
}

footer {
    background-color: black;
    color: rgba(255, 255, 255, 0.6);
}

#indirizzi {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

address {
    width: 290px;
    height: 220px;
    padding: 20px 150px;
}

footer h6,
footer p {
    font-size: 0.6em;
    letter-spacing: 3px;
}

footer a:link,
footer a:visited {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    transition-duration: 0.3s;
}

footer a:hover {
    color: white;
}

.copy {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 200px;
}


#tornaSuBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;
}

.torna-su svg {
    fill: rgb(255, 255, 255, 0.6);
    width: 30px;
    transition-duration: 0.3s;
}

.torna-su svg:hover {
    scale: 1.2;
    fill: rgb(255, 255, 255);
}

strong {
    font-weight: bolder;
}

@keyframes opacity3 {
    from {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes opacity4 {
    from {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#divEsternoServizi {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 50px 0px 50px 0px;
}

#divEsternoServizi:hover> :not(:hover) {
    opacity: 0.4;
    scale: 0.95;
    filter: grayscale(1)
}

.servizi {
    display: none;
    animation: opacity3 1s linear;
    transition: 0.5s;
}

.sectionServizi span {
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0.5;
    color: #000000;
}


.sectionServizi {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 280px;
    height: 350px;
    align-items: center;
    justify-content: flex-start;
    background-repeat: no-repeat;
    background-position: 90% 95%;
    background-size: 20%;
    background-color: rgb(189, 189, 189);
    cursor: pointer;
}

.immagine img {
    border-radius: 10px 10px 0px 0px;
    width: 280px;
    height: 200px;
    object-fit: cover;
}


.descrizione {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    width: 230px;
    height: 100px;
}


/* .lista p {
    font-size: 0.9rem;
    font-weight: 600;
}

.lista ul {
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 3px;
    color: rgba(0, 0, 0, 0.6);
}
 */